// Base styles
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: $white;
  overflow-x: hidden;
  background: $gray-dark;
  @extend %body-text;
  @extend %smooth;
}

h1 {
  @extend %big-title;
}
h2,h3,h4,h5,h6 {
  @extend %small-title;
  @extend %trailing-dash;
}

p {
  em {
    font-style: italic;
  }
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

// Browser alert
.alert-warning {
  top: 0;
  left: 0;
  right: 0;
  color: $white;
  padding: 50px 0 0 $site-pad-left;
  @include media-md { padding: 50px 0 0 $site-pad-left-md; }
  background: $black;
  @extend %small-title;
}
.alert {
  // padding: 50px;
  // background: #fff;
}

// Disable scrolling when modals are active
.no-scroll {
  overflow: hidden;
}

// Utility classes
.hide {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  @include clearfix();
  @include media-md {
  }
}

%fill {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

%clickable {
  &:hover{
    cursor: pointer;
  }
}

//put on ul to kill list styling
%delistify {
  list-style: none;
  padding-left: 0;
}

//remove link underlines of any children
%delinkify {
  a {
    text-decoration: none;
  }
}











