
.exhibit-listing-info {
  .info-link {
    &:hover .info {
      color: $white;
    }
    .info{
      position: absolute;
      @extend %small-caps;
      color: $gray;
      bottom: 0;
      left: 0;
      text-decoration: underline;
      padding: 30em 10em 1.5em 2em;
      transition: color $hover-trans-time;
      .highlight{
        background-color: $gray-dark;
        padding: 0.3em;
        .info-link-exhibition {
          display: inline-block;
          text-decoration: underline;
        }
      }
    }
  }
}

.exhibit-list{
  @extend %delistify;
  @extend .container;
  // background-color: $gray;
  .exhibit{
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    animation: pop-in 0.5s forwards;
    @include media-md {
      width: 50%;
      padding-bottom: 25%;
    }
    @include media-lg {
      width: 33.333%;
      padding-bottom: 16.6667%;
    }
    .exhibit-listing-info {
      &:hover {
        .duo, .color {
          transform: scale(1.1);
        }
        .duo{
          opacity: 0;
        }
      }
      .info-link{
        @extend %fill;
        .info{
          //max-width: 80%;
        }
      }
    }
  }
}




.load-more {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: $gray;
  max-height: 200px;
  @extend %small-caps;
  @extend %delinkify;
  .icon-load-more {
    display: block;
    margin: 0 auto 10px auto;
  }
  a {
    display: inline-block;
    &:hover {
      color: $white;
      .icon-load-more {
        fill: $white;
        transform: scale(1.1);
      }
    }
  }
}






