
.exhibit-listing-info {
  @extend %fill;
  .info{
    position: absolute;
    @extend %small-caps;
    color: $gray;
    bottom: 0;
    left: 0;
    margin: 0;
    text-decoration: underline;
    padding: 0 0 1.5em 2em;
    .highlight{
      background-color: $gray-dark;
      padding: 0.3em;
      .info-link-exhibition {
        display: inline-block;
    text-decoration: underline;
      }
    }
  }

}

.exhibit-list{
  @extend %delistify;
  @extend .container;
  // background-color: $gray;
  .exhibit{
    position: relative;
    display: block;
    float: left;
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    @include media-md {
      width: 50%;
      padding-bottom: 25%;
    }
    @include media-lg {
      width: 33.333%;
      padding-bottom: 16.6667%;
    }
    .exhibit-listing-info {
      .info-link{
        @extend %fill;
        max-width: 80%;
      }
    }
  }
}



.load-more {
  display: block;
  margin-top: 50px;
  width: 100%;
  text-align: center;
  .icon-load-more {
    display: block;
    margin: 0 auto 10px auto;
  }
  a {
    display: inline-block;
  }
  color: $gray;
  @extend %small-caps;
  @extend %delinkify;

}






