
$exhibition-break: 1000px;

.exhibition-info {
  margin-top: 30px;
  padding: 0 $site-pad-hor;
  @include media-md {padding: 0 $site-pad-hor-md;}
  margin-top: 30px;
  overflow: hidden;
  .main, .additional {
    float: left;
    width: 100%;
    @include min-screen($exhibition-break) { 
      width: 50%; 
    }
  }
  .main {
    padding: 0;
    @include min-screen($exhibition-break) { 
      // margin-bottom: 50px;
      padding-right: 75px; 
    }
    .featured-image {
      position: relative;
      height: 0;
      padding-bottom: 100%;
      width: 100%;
      overflow: hidden;

      @include media-md { 
        padding-right: 75px; 
      }
      .duo {
        animation: fade-out-ken-burns 5s ease-in 1s forwards;
      }
      .color {
        animation: ken-burns 5s ease-in 1s forwards;
      }
    }

  }
  .additional {
    @extend %small-caps;
    @extend %gray-text; 
    margin-bottom: 70px;
    // @include media-md{
    //   margin-top: -53px;
    // }
    .exhibited, .window-and-opening {
      .exhibit-link-list, {
        @extend %delistify;
        .exhibit{
          display: block;
        }
      }
    }
  }
  .description, .featured-image, 
  .catalogue, .sponsors, .exhibited, .window-and-opening {
    margin-top: 45px;
    @include min-screen($exhibition-break) {
      &:first-child { margin-top: 0; }
    }
  }
}