
.exhibition-info {
  margin-top: 30px;
  padding: 0 $site-pad-hor;
  @include media-md {padding: 0 $site-pad-hor-md;}
  margin-top: 30px;
  overflow: hidden;
  .description, .additional {
    float: left;
    width: 100%;
    @include media-md { 
      width: 50%; 
    }
  }
  .description {
    padding: 0;
    margin-bottom: 20px;
    @include media-md { 
      margin-bottom: 50px;
      padding-right: 50px; 
    }
  }
  .additional {
    @extend %small-caps;
    @extend %gray-text; 
    margin-bottom: 70px;
    .exhibited {
      .exhibition-exhibit-list {
        @include min-screen(1000px) { columns: 2; }
        @extend %delistify;
        .exhibit{
          display: inline-block;
        }
      }
    }
    .catalogue {
      margin-top: 40px;
    }
  }
}


