// Footer
$footer-md: 950px;
$footer-lg: 1400px;

.site-footer {
  @extend .container;
  padding: 100px $site-pad-hor $site-pad-bottom $site-pad-hor;
  @include media-md { padding: 100px $site-pad-hor-md $site-pad-bottom-md $site-pad-hor-md; }
  @extend %small-caps;
  @extend %gray-text; 

  .description, .links, .sponsors {
    float: left;
    display: block;
    word-wrap: break-word;
  }

  .description {
    width: 100%;
    @include min-screen($footer-md) {width: 50%;}
    
  }
  .links, .sponsors {
    width: 100%;
    margin-top: 1.5em;
    @include min-screen($footer-md) {width: 50%; margin-top: 0;}
    @include min-screen($footer-lg) {width: 25%; margin-top: 0;}
  }
  .sponsors {
    float: right;
    margin-top: 1.5em;
    @include min-screen($footer-lg) {margin-top: 0;}
  }
}