
body {
  margin-top: 45px;
}

// Header
.site-header {
  @extend .container;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $header-z;
  overflow: visible;
  background-color: $gray-dark;
  height: 45px;

  .wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 45px;
    transition: height 0.5s;
  }

  .title, .search, 
  .site-nav.full-nav, .menu-toggle-open,
  .search-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1em;
  }

  .title, .search {
    @extend %small-title;
    margin:  0 $site-pad-hor;
    @include media-md {
      margin: 0  $site-pad-hor-md;
    }
  }
  .title {
    left: 0;
    @extend %delinkify;
  }

  .site-nav {
    position: fixed;
    right: 0;
    background: $white;
    width: 200px;
    height: 100vh;
    padding: 50px;
    transform: translateX(100%);
    transition: transform 0.2s, opacity 0.5s;
    text-align: center;
    .nav {
      margin: 0;
      @extend %delistify;
      white-space: nowrap;
      .menu-item {
        margin: 0; padding: 0;
        color: $gray;
        @extend %delinkify;
        @extend %small-caps;
        margin-top: 1em;
        a:hover, &.current-menu-item a { 
          color: $gray-dark;
        }
      }
    }
    &.full-nav{
      transition: opacity 0.5s;
      width: auto;
      position: absolute;
      margin: 0 $site-pad-hor-md;
      padding: 0;
      height: auto;
      left: auto;
      background: transparent;
      transform: translateY(-50%);
      .nav .menu-item {
          display: inline-block;
          margin-left: 2em;
          margin-top: 0;
        a:hover, &.current-menu-item a { 
            color: $white;
        }
      }
    }
    &.menu-active {
      transform: translateX(0%);
    }
  }

  .search {
    left: 0;
    right: 50px;
    @include media-md {
      right: 0;
    }
    .search-form{
      @extend %small-title;
      .search-field {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
      }
    }
  }

  .search-toggle {
    position: absolute;
    right: 25px;
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
  }
  .menu-toggle {
    @extend %clickable;
    &.full-nav{
      display: none;
    }
  }
  .menu-toggle-open, .menu-toggle-close {
    position: absolute;
  }
  .menu-toggle-open {
    right: 75px;
  }
  .menu-toggle-close {
    right: 25px;
    top: 25px;
  }


  .search, .title, .menu-toggle-open {
    transition: transform 0.5s, opacity 0.5s, fill $hover-trans-time;
  }
  &.search-active {
    .search {
      opacity: 1;
      transform: translateY(-55%);
    }
    .title, .site-nav, .menu-toggle {
      opacity: 0;
    }
    .title {
      transform: translateY(-100px);
    }
  }
  &:not(.search-active){
    .search {
      opacity: 0;
      transform: translateY(-100px);
    }
    .title, .site-nav, .menu-toggle {
      opacity: 1;
    }
    .title {
      transform: translateY(-55%);
    }
  }
 .icon-hamburger, .icon-search {
    &:hover {
      fill: $white;
    }
  }
  .icon-x {
    &:hover {
      fill: $gray-dark;
    }
  }
  .icon-search {
    transform: translateY(10%);
  }
 
}


.search-title {
  margin-top: 50px;
  padding-left: $site-pad-hor;
  padding-right: $site-pad-hor;
  @include media-md {
    padding-left: $site-pad-hor-md;
    padding-right: $site-pad-hor-md;
  }
}


   