// Header



.site-header {
  @extend .container;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: visible;
  background-color: $gray-dark;
  height: $header-height;
  @include media-md {
    height: $header-height-md;
  }
  &.scrolled{
    position: fixed;
    height: 45px;
    @include media-md{
      height: 75px;
    }
  }

  .title, .search {
    position: absolute;
    bottom: 0;
    margin: 10px  $site-pad-hor;
    @include media-md {
      margin: 10px  $site-pad-hor-md;
    }

  }

  .title {
    left: 0;
    @extend %delinkify;
  }

  .site-nav {
    position: fixed;
    right: 0;
    background: $white;
    width: 200px;
    height: 100vh;
    padding: 50px;
    transform: translateX(100%);
    transition: transform 0.2s;
    text-align: center;
    @include min-screen($breakpoint-nav) {
      transition: auto;
      width: auto;
      position: absolute;
      margin: 10px  $site-pad-hor-md;
      bottom: 0;
      padding: 0;
      height: auto;
      left: auto;
      background: transparent;
      transform: translateX(0%);
    }
    &.menu-active {
      transform: translateX(0%);
    }
    .nav {
      margin: 0;
      margin-bottom: 5px;
      @extend %delistify;
      .menu-item {
        margin: 0; padding: 0;
        color: $gray;
        @extend %delinkify;
        @extend %small-caps;
        margin-top: 1em;
        @include min-screen($breakpoint-nav) {
          display: inline-block;
          margin-left: 2em;
          margin-top: 0;
        }
        a:hover, &.current-menu-item a { 
          color: $gray-dark;
          @include min-screen($breakpoint-nav) {
            color: $white;
          }
        }
      }
    }
  }

  .menu-toggle {
    @extend %clickable;
    @include min-screen($breakpoint-nav) {
      display: none;
    }
  }

  .menu-toggle-open, .menu-toggle-close {
    position: absolute;
    right: ($site-pad-hor-md - 25px)/2;
  }
  .menu-toggle-open {
    bottom: 15px;
    @include media-md {
      bottom: 32.5px;
    }
  }
  .menu-toggle-close {
    top: 25px;
  }

  .search {
    display: none;
    left: 0;
    right: 0;
    &.active {
      // visibility: visible;
    }
    .search-form{
      margin-bottom: -5px;
      @extend %big-title;
      .search-field {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
      }
      .search-submit {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        border: none;
        outline: none;
        background: transparent;
        .icon-search {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}



   