.icon-caret {
  fill: $white;
  height: 22px;
  width: 11px;
}

.icon-x {
  fill: $gray;
  height: 18px;
  width: 18px;
}

.icon-hamburger {
  fill: $gray;
  height: 15px;
  width: 25px;
}

.icon-arrow-right, .icon-arrow-left {
  fill: $gray;
  height: 13px;
  width: 20px;
}