.icon-caret-right,
.icon-load-more,
.icon-x,
.icon-search,
.icon-hamburger,
.icon-arrow-right,
.icon-grid,
.icon-filter {
  transition: fill $hover-trans-time;
}

.icon-caret-right, .icon-caret-left {
  fill: $white;
  height: 22px;
  width: 11px;
}

.icon-load-more {
  transition: fill $hover-trans-time, transform $hover-trans-time;
  fill: $gray;
  height: 50px;
  width: 50px;
}

.icon-x {
  fill: $gray;
  height: 18px;
  width: 18px;
}

.icon-search {
  fill: $gray;
  height: 20px; //25px;
  width: 20px; //25px;
}

.icon-hamburger {
  fill: $gray;
  height: 15px;
  width: 25px;
}

.icon-arrow-right, .icon-arrow-left {
  fill: $gray;
  height: 13px;
  width: 20px;
}

.icon-grid {
  fill: $white;
  height: 15px;
  width: 15px;
}

.icon-filter {
  fill: $white;
  height: 7.5px;
  width: 21px;
}