
// Temporarily give height/width to 
.duo, .color {
  @extend %fill;
  background-position: center center;
  background-size: cover;
  transition: opacity $hover-trans-time, transform 20s ease-out;
}

