// Nav

// wp admin bar push
.admin-bar {}

#menu-main-nav {
}

// mobile menu toggle
.menu-toggle {
}

.menu-toggle-open, .menu-toggle-close {
  @extend %clickable;
}

.site-nav {
@extend %small-title;
position: absolute;
color: $gray;
z-index: 100;
  width: calc( 100vw - 0.5em );;
  min-height: calc( 125px - 1em );
  margin-top: 0.5em;
  padding-left: $site-pad-left;
  background-color: $white;
  @include clearfix();
  transition: transform 0.5s;

  &:not(.active) {
    transform: translateX(-100%);
  }

  .nav {
    padding: 0;
    @extend %delistify;
    @extend %delinkify;

    .menu-item{
      float: left;
      // display: block;
      width: 175px;
      a {
        transition: color .2s;
        &:hover {
          color: $gray-dark;
        }
      }
    }
  }
}



.menu-toggle-open, .menu-toggle-close {
}
.menu-toggle-open { 
  position: absolute;
  left: -$site-pad-left/2;
  transform: translate(-50%,0);
  bottom: 0.25em;
}
.menu-toggle-close {
  position: absolute;
  left: $site-pad-left/2;
  transform: translate(-50%,-50%);
  top: 50%;
}







