// Manual overrides

// Usually to override the homepage slider styles for upcoming shows
.home {
  .intro-content .headline {
    background: none;
    // color: $white;
  }
  .slick-slider {
    background: #090114;
  }
  .intro-slider .slide-item .content {
    background: none;
  }
}