.slider {
  background: rgba(0,0,0,.5);
    
  &.single-slide {
    .slide-item {
      width: 100vw;
    }
    .slick-track {
      margin-left: 0;
    }
  }

  .slide-item {
    position: relative;
    height: $main-slider-slide-height;
    width: 50vw;
    overflow: hidden; 

    // Add a gray overlay over slide;
    &:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,.6);
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0s 0s;

    }        
    &.next-slide-hover:after {
      opacity: 0;
    }
    // Make overlay visible when not active;
    .duo, .color {
        transition: transform 1s;
        transform: scale(1);
          transition: transform 5s linear, opacity $hover-trans-time;
    }
    .intro-link, .caption, .update {
        opacity: 0;
    }
    .intro-link, .caption {
        transition: opacity $hover-trans-time*2;
    }
    &.slick-center {
      .update:not(.disappeared), .intro-link, .caption {
        opacity: 1;
      }
      &:after {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0s 0.5s;
      }
      .duo:not(.fake-duo), .color { //ken burns effect
          transform: scale(1.07);
          transition: transform 15s linear, opacity $hover-trans-time;
      }
       .duo {
          opacity: 0;
      }
      &.site-just-loaded { //.slick-center will be on the first slide immediately, so transition won't be fired.  This will override it then be immediately be removed by js so we still get ken burns on first slide.
        .duo, .color {
          transform: scale(1);
        }
      }
    }
  }
  .slider-nav-right,.slider-nav-left{
    position: absolute;
    top: 0;
    height: 100%;
    width: 10vw;
    z-index: $slider-nav-z;
    @include media-md {
      width: 10vw;
    }
    @extend %clickable;

    .icon-caret-right,.icon-caret-left {
      position: absolute;
      top: 50%;
      transition: transform $hover-trans-time;
      transform: translateY(-50%);
    }
  }
  .slider-nav-left {
    left: 0;
    &:hover .icon-caret-left {
      transform: translate(-1vw,-50%);
    }
    .icon-caret-left {
      left: 1vw;
      @include media-md {
        left: 2vw;
      }
    }
  }
  .slider-nav-right {
    right: 0;
    &:hover .icon-caret-right {
      transform: translate(1vw,-50%);
    }
    .icon-caret-right {
      right: 1vw;
      @include media-md {
        right: 2vw;
      }
    }
  }

  .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: $content-z;
    .intro-link, .caption {
      color: $gray;
      @extend %small-caps;
      position: relative;
      max-width: 60%;
      vertical-align: bottom;
      margin: 0 0 22px $site-pad-hor;
      @include media-md {
        margin: 0 0 22px $site-pad-hor;
      }
      .highlight {
        background-color: $gray-dark;
        padding: 3px;
      }
      a { 
        text-decoration: underline;
        transition: color $hover-trans-time;
        &:hover {
          color: $white;
        }
      }
    }
    .update {
      @extend %small-caps;
      position: relative;
      max-width: 150px;
      margin: 0 0 25px $site-pad-hor;      
      transition: opacity $hover-trans-time*2, transform $hover-trans-time*2;
      &.disappeared {
        transform: translateX(100%);
      }
      @include media-md {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 70px 35px 10px 0;
      }
    }
  }
}