.slider {
    
    //compensate for slick centerMode trying to center it
    width: 100vw;
    .slick-track {
        margin-left: ( $main-slider-slide-width - 100vw )/2;
    } 

  .slide-item {
    position: relative;
    height: $main-slider-slide-height;
    width:  $main-slider-slide-width;
    overflow: hidden;

    // Add a gray overlay over slide;
    &:after {
        content: '\A';
        position: absolute;
        width: 100%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6);
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s, visibility 0s 0.5s;

    }        
    &.next-slide-hover:after {
      opacity: 0;
    }
    // Make overlay visible when not active;
    .duo, .color {
        transition: transform 1s;
        transform: scale(1);
          transition: transform 5s ease-out, opacity $hover-trans-time;
    }
    &.slick-center {
       &:after {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s, visibility 0.5s;
       }
       .duo, .color { //ken burns effect
          transform: scale(1.1);
          transition: transform 15s ease-out, opacity $hover-trans-time;
       }
       &.site-just-loaded { //.slick-center will be on the first slide immediately, so transition won't be fired.  This will override it then be immediately be removed by js so we still get ken burns on first slide.
          .duo, .color {
            transform: scale(1);
          }
       }
    }
  }
  .slider-nav-right{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 12.5vw;
    @extend %clickable;
    &:hover{
      .icon-caret {
        transform: translate(2vw,-50%);
      }
      // background-color: rgba($white,0.1);
    }
    .icon-caret {
      position: absolute;
      top: 50%;
      transition: transform $hover-trans-time;
      transform: translateY(-50%);
      left: 2vw;
    }
  }
}



