// Styling of content that is editable in wysiwyg

.user-content {
  @include clearfix();

  h1,h2,h3,h4,h5,h6 {
    
  }

  p {

  }

  a {
    
  }

  ol,
  ul {
    li {
      ol,
      ul {

      }
    }
  }

  hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid $brand-secondary;
    + p {
      margin-bottom: 0;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }


}