// Typography

$font-display: "StanleyPoster", serif;
$font-body: "Karla", Helvetica, Arial, sans-serif;

@mixin small-caps {
  letter-spacing: .25em;
  text-transform: uppercase;
  font: 12px/20px $font-body;
}

@mixin big-title {
  letter-spacing: 0;
  text-transform: none;
  font: 24px/30px $font-display; 
  @include media-md {
    font: 48px/55px $font-display;
  }
}

@mixin small-title {
  letter-spacing: 0;
  text-transform: none;
  font: 24px/30px $font-display; 
}

@mixin trailing-dash {
  position: relative;
  margin: 0;
  padding-bottom: 22px;
  &:after{
    left: 0;
    bottom: 11px;
    content: '';
    height: 1px;
    width: .25em;
    background: $white;
    position: absolute;
  }
}

@mixin gray-text {
  color: $gray;
  h1,h2,h3,h4,h5,h6,a:hover {
    color: $white;
  }
}

@mixin body-text {
  letter-spacing: .05em;
  text-transform: none;
  font: 16px/20px $font-body;
}

@mixin smooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

