// Variables

// Colors

// $black: #202020;
// $black-lite: #444648;
$white: #fff;
// $gray-lite: #DCDCDC;
$gray: #8A8788; 
$gray-dark: #241F21;

// Brand Swatches
$brand-primary: $white;
$brand-secondary: $gray-dark;
$brand-tertiary: $gray;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 600px;


//Sizes
$main-slider-slide-height: calc(80vh);
$main-slider-slide-width-md: 87.5vw;
$main-slider-slide-width: 95vw;

//Padding
$site-pad-hor-md: 75px;
$site-pad-bottom-md: 75px;

$site-pad-hor: 25px;
$site-pad-bottom: 25px;

//Transitions
$hover-trans-time: 0.2s;

//Z Index
$header-z: 100;
$content-z: 50;
$slider-nav-z: 60;