// Variables

// Colors

$black: #202020;
$black-lite: #444648;
$white: #fff;
$gray-lite: #DCDCDC;
$gray: #969696;
$gray-dark: #555;

// Brand Swatches
$brand-primary: $black;
$brand-secondary: $white;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 1050px;
