// Variables

// Colors

$black: #202020;
$black-lite: #444648;
$white: #fff;
$gray-lite: #DCDCDC;
$gray: #8A8788;
$gray-dark: #241F21;

// Brand Swatches
$brand-primary: $white;
$brand-secondary: $gray-dark;
$brand-tertiary: $gray;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-huge: 1200px;
$breakpoint-nav: 1050px;


//Sizes
$slider-height: calc(100vh - 62.5px);
$slider-width: 87.5vw;

//Padding
$site-pad-right: 75px;
$site-pad-left: 75px;
$site-pad-bottom: 75px;