// Single Posts


.thumbnail-slider {
  .slide-item {
    height: 75vh;
  }
  .slick-center { //Make the active slide in color
    .duo {
      opacity: 0;
    }
  }
}


.single-exhibit {

  .exhibit {
    position: relative;
    @include clearfix();

    .content-wrap, .footer-wrap, header { 
      padding-left: $site-pad-hor;
      padding-right: $site-pad-hor;
      @include media-md {
        padding-left: $site-pad-hor-md;
        padding-right: $site-pad-hor-md;
      }
    }

    .header-wrap {
      position: relative;

      header {
        position: absolute;
        bottom: 0;
        .entry-exhibition {
          @extend %small-caps;
        }
        .entry-artist {
          margin-top: .2em;
          margin-bottom: .3em;
        }
      }
    }

    .content-wrap, .footer-wrap {
      @include clearfix();
    }

    .content-wrap{
      margin-top: 55px;


      .entry-main {
        float: left;
        width: 100%;
        @include media-md {
          width: 75%;
        }
        @include min-screen(1200px) {
          max-width: 50%;
        }
        padding-right: 50px;

        .entry-bio {
          margin-top: 30px;
        }
      }

      .entry-secondary {
        float: left;
        margin-top: 30px;
        @include media-md {
          margin-top: auto;
          width: 25%;
        }
         .entry-social {
          margin-top: 30px;
          word-wrap: break-word;
          width: 100%;
          @extend %gray-text;
          @extend %small-caps; 
        }
      }
    }

    .footer-wrap{
      margin-top: 80px;
      @include media-md {margin-top: 100px;}

      .exhibit-nav {
        width: 100%;
        @include min-screen(550px) {
          width: 50%;
        }
        float: right;
        padding-bottom: 0.4em;
        border-bottom: 1px solid $gray;
      }
      .next,.prev {
        position: relative;
        padding: 0;
        margin: 0; margin-top: 0.5em;
        width: 100%;
        float: right;
        min-height: 1px; //forces div to take up space even if empty;
        @extend %small-title;
        @extend %delinkify;
        @include min-screen(1100px) {
          margin: 0;
          width: 50%;
        }
        .anim-wrap {
          transition: transform $hover-trans-time;
          display: inline-block;
        }
        .icon-arrow-right, .icon-arrow-left {
        }
        .icon-arrow-right {
          margin-left: 0.1em;
          margin-bottom: 0.1em;
        }
        .icon-arrow-left {
          margin-left: calc( -22px - 0.1em );
          margin-bottom: 0.1em;
        }
      }
      .next a:hover .anim-wrap { 
        transform: translateX(10px); 
      }
      .prev a:hover .anim-wrap { 
        transform: translateX(-10px); 
      }
    }

    .user-content {
      h1, h2, h3, h4, h5, h6 {
      }

      img {
      }

      ul, ol {
        padding-left: 0;
        li {
          font-size: 16px;
          line-height: 1.5em;
        }
      }

      figure, figure:first-child {
        margin: 30px 0;
      }

      figure > img,
      figure >img:first-child {
        margin: 0;
      }

      figcaption {
      }

      blockquote {
        padding: 20px 0;
        p {
          font-size: 24px;
          margin-bottom: 0;
        }
      }
    }
  }

}