// Home page

  .intro-content {
    position: relative;
    top: 0;
    left: 0;
    height: $main-slider-slide-height;
    width: 100%;
    .headline, .update {
      @extend %small-caps;
      position: absolute;
    }
    .headline {
      top: 0;
      left: 0;
      margin-top: 1.5em;
      margin-left: $site-pad-hor;
      max-width: 350px;
      width: calc( 87vw - 50px);
      @include media-md {
        margin-left: $site-pad-hor-md;
        max-width: 750px;
        width: calc( 87vw - 100px);
      }
      h1 {
        margin:0;
        @extend %big-title;
      }
      transition: opacity $hover-trans-time*2, transform $hover-trans-time*2;
      &.disappeared {
        transform: translateY(-100%);
      }
    }
    .update {
      bottom: 0;
      left: $site-pad-hor;
      @include media-md {
        left: $site-pad-hor-md;
        right: 100vw - $main-slider-slide-width;
        left: auto;
      }
      margin-bottom: 1em;
      margin-right: 50px;
      margin-top: 70px;
      transition: opacity $hover-trans-time*2, transform $hover-trans-time*2;
      &.disappeared {
        transform: translateX(200%);
      }
    }
  }



.intro-slider{
  .exhibit-listing-info {
    .info{
      padding: 2em 2em 2em $site-pad-hor;
      max-width: 60%;
      visibility: hidden;
      @include media-md {
        padding: 10vh 10vw 2em $site-pad-hor-md;
        visibility: visible;
      }
    }
  }
}

.exhibit-list {
  margin-top: 50px;
}