//Home page

.home {
  .site-header {
    .title, .search-field {
      @include big-title;
    }
  }
  @include media-md {
    margin-top: 75px;
    .site-header {
      height: 75px;
      .wrapper {
        height: 75px;
      }
      .site-nav.full-nav, .search-toggle.full-nav, .menu-toggle-open.full-nav {
        margin-top: 10px;
      }
      &.scrolled {
        height: 45px;
        .title, .search-field {
          font: 24px/30px $font-display;
        }
        .wrapper {
          height: 45px;
        }
        .site-nav, .search-toggle, .menu-toggle-open {
          margin-top: 0;
        }
      }
    }
  }

  .intro-slider .slide-item .content {
    background: rgba($gray-dark,0.2);
    background: linear-gradient( rgba($gray-dark,0), rgba($gray-dark,.3) 20%, rgba($gray-dark,.7) );
  }

}

.intro-content {
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: $main-slider-slide-height;
  background-position: center center;

  .headline {
    @include small-caps;
    top: 0;
    left: 0;
    width: 100vw;
    padding-top: 22px;
    position: absolute;
    padding-bottom: 25px;
    background: $gray-dark;
    padding-left: $site-pad-hor;
    background: rgba($gray-dark,0.2);
    transition: opacity $hover-trans-time*2, transform $hover-trans-time*2;
    background: linear-gradient( rgba($gray-dark,.7) ,rgba($gray-dark,.3) 80%, rgba($gray-dark,0) );

    @include media-md {
      padding-top: 43px;
      padding-left: $site-pad-hor-md;
    }

    .wrap {
      max-width: 250px;
      width: calc( 95vw - 50px);

      @include media-md {
        max-width: 550px;
        width: calc( 87.5vw - 150px);
      }
    }

    h1 {
      margin:0;
      @include big-title;
    }

    &.disappeared {
      transform: translateY(-100%);
    }
  }
}

.exhibit-list {
  margin-top: 50px;
}