//Home page


.home {
  .site-header {
    .title, .search-field {
      @extend %big-title;
    }
  }
  @include media-md {
    margin-top: 75px;
    .site-header {
      height: 75px;
      .wrapper {
        height: 75px;
      }
    }
  }
}


.intro-content {
  position: relative;
  top: 0;
  left: 0;
  height: $main-slider-slide-height;
  width: 100%;
  .headline {
    @extend %small-caps;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1.5em;
    margin-left: $site-pad-hor;
    max-width: 350px;
    width: calc( 87vw - 50px);
    @include media-md {
      margin-left: $site-pad-hor-md;
      max-width: 750px;
      width: calc( 87vw - 100px);
    }
    h1 {
      margin:0;
      @extend %big-title;
    }
    transition: opacity $hover-trans-time*2, transform $hover-trans-time*2;
    &.disappeared {
      transform: translateY(-100%);
    }
  }
}



.exhibit-list {
  margin-top: 50px;
}