# BEGIN Firebelly
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Force single domain
RewriteEngine on
RewriteCond %{HTTP_HOST} !^typeforce\.com$ [NC]
RewriteCond %{HTTP_HOST} !^typeforce\.firebelly\.co [NC]
RewriteCond %{HTTP_HOST} !^typeforce\.localhost$ [NC]
RewriteRule ^(.*)$ https://typeforce.com/$1 [R=301,L]

# Force HTTPS
RewriteCond %{REQUEST_URI} !\.well-known
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} !^typeforce\.firebelly\.co [NC]
RewriteCond %{HTTP_HOST} !^typeforce\.localhost [NC]
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>
# END Firebelly

# BEGIN speedups
FileETag none
<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType application/javascript "access plus 6 months"
ExpiresByType image/jpg "access plus 6 months"
ExpiresByType image/jpeg "access plus 6 months"
ExpiresByType image/gif "access plus 6 months"
ExpiresByType image/png "access plus 6 months"
ExpiresByType image/svg+xml "access plus 6 months"
ExpiresByType text/css "access plus 6 months"
</IfModule>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>
# END speedups

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress
